body{
    background-color: #283149;
    color: aqua;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 5em;
    text-shadow: 5px 0 rgb(226, 26, 166);
}
.instruments{
    margin: 10% auto;
}

.pressed{
    box-shadow: 0 3px 5px 0 pink;
    opacity: 0.5;
}

.drum{
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', monospace;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
