body{
    font-family: sans-serif;
    color:rgb(58, 55, 55);
    margin-inline: 100px;
    text-align: justify;
}

header{
    text-align: center;
}

h1{
    font-size: 4rem;
    text-align: center;
    color: rgb(57, 102, 170);
    line-height: 60px;
}

h2{
    font-size: 2rem;
    color: rgb(230, 104, 0);
    margin-block:8px;
}

h3{
    margin-block:10px;
    color:black;
}

section{
    margin-block: 50px;
}

img{
    text-align: center;
}

.bouldering{
    width: 100%;
    margin-block: 30px;
}

footer{
    padding: 20px;
    text-align:center;
    background-color: rgb(22, 76, 121);
    color:white;
}

@media (max-width:600px){
    body{
        width:100%;
        margin: 0;
    }
}

